GOOGLE_CLIENT_ID=__paste_your_google_client_id_here__
GOOGLE_CLIENT_SECRET=__paste_your_google_client_secret_here__
CLOUDINARY_CLOUD_NAME=__paste_cloud_name_here__
CLOUDINARY_API_KEY=__paste_api_key_here__
CLOUDINARY_API_SECRET=__paste_api_secret_here__